.bookContent {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookTotalItems {
  font-size: 1.2rem;
  margin: 10px;
  text-align: center;
}

.loader {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%;
}
