.bookCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  width: 200px;
  text-align: center;
  border: 1px solid #455d7a;
}

.bookImage {
  max-width: 100%;
  height: auto;
}

.bookTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.bookCategory {
  color: #888;
  text-decoration: underline;
}

.bookTitle {
  font-size: 1.2rem;
  margin: 8px 0;
}

.bookAuthor {
  color: #888;
}
