.bookCard {
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  max-width: 200px;
  text-align: center;
  background-color: #f0f0e4;
}

.bookCategory {
  color: #888;
  text-decoration: underline;
}

.bookImage {
  max-width: 100%;
  height: auto;
}

.bookTitle {
  font-size: 1.2rem;
  margin: 8px 0;
}

.bookAuthor {
  color: #888;
}